// Colors
$dark: #202020;
$lighterDark: #323232;
$text: #fff;
$blackAlpha: rgb(0, 0, 0, .5);
$whiteAlpha: rgb(255, 255, 255, .5);

// Font
$family: 'Questrial';

// Size
$header: 3rem;
$magnifying: 1rem;

// Image
$magnifyingIcon : '../../assets/Magnifying_glass_icon.svg';