@import 'reset';
@import 'vars';

body {
  margin: 0;
  background-color: $dark;
  color: $text;
  font-family: $family;
}

h1 {
  margin: 1rem;
}

.spacing {
  margin-bottom: 0.5rem;
}

@font-face {
  font-family: $family;
  src: url('../assets/Questrial-Regular.ttf');
}
